<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Import the Bootstrap stylesheet -->
{% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %}
  <title>{% block title %}{% endblock title %}</title>
  {% block head %}{% endblock head %}
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/favicon.ico.png') }}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    CCS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/app-settings">App settings</a>
          <a class="dropdown-item" href="/cred-settings">Cred settings</a>
          <a class="dropdown-item" href="/env-settings">Systems settings</a>
          <div class="dropdown-divider"></div>
            {% for env in envs %}
              {% set env_url = '/env-settings/' + env%}
              <a class="dropdown-item" href={{ env_url }}/edit>{{ env }}</a>
            {% endfor %}
          
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/show-config">Show config</a>
      </li>
    </ul>
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
  </div>

</nav>

  <main>
    
    {% block main %}{% endblock main %}
    {% block menu %}{% endblock %}
    {% block content %}{% endblock %}
  </main>
  
  <footer class="message">
      <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <strong>Config control: </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}
      </div>
  </footer>
{% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
  {% block script %}{% endblock %}
</body>

</html>