{% extends "public/templates/public_template.html" %}
 
{% block title %}About{% endblock %}
 


{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
           {{ content|safe }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}