{% extends "public/templates/public_template.html" %}
 
{% block title %}Cred setting{% endblock %}
 


{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Cred setting</h1>
      <hr>
      <div class="card">
        <div class="card-body">
            <form action="#" method="POST">
              <p id="cred_desc">Credential`s list</p>
              <table class="table" aria-describedby="cred_desc">
                <thead>
                  <tr>
                    <td></td>
                    <th id="Name">Name</th>
                    <th id="Login">Login</th>
                    <th id="File">File</th>
                    <th id="Edit">Edit</th>
                  </tr>
                </thead>
                <tbody>
                  {% for credential in credentials_list %}
                  {% set cred_url = '/cred-settings/' + credential %}
                  <tr>
                    <th id="{{ credentials_list[credential]["name"] }}" headers="name">{{ credentials_list[credential]["name"] }}</th>
                    <th headers="login {{ credentials_list[credential]["name"] }}">{{ credentials_list[credential]["login"]  }}</th>
                    <th headers="file {{credentials_list[credential]["name"] }}">{{ credentials_list[credential]["cred_file"] }}</th>
                    <th headers="edit {{ credentials_list[credential]["name"] }}">
                        <a class="btn btn-warning" href={{ cred_url }}>Edit</a>
                    </th>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
               <a class="btn btn-primary" href="/cred-settings-add">Add</a>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}