{% extends "public/templates/public_template.html" %}
 
{% block title %}Systems{% endblock %}
 


{% block main %}
<div class="container">

 
  <div class="row">
    <div class="col">
      <h1>Systems</h1>
      <hr>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Branch</th>
                <th>Status</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              {% for system in systems %}
              {% set system_url = '/env-settings/' + system %}
              {% set sys = systems[system] %}
              <tr>
                <th>{{ sys.name }}</th>
                <th>{{ sys.git.branch }}</th>
                <th>
                {{ systems_changes[sys.name] }}
                </th>
                <th>
                    <a class="btn btn-info" href={{ system_url }}/diff>Diff</a>
                    <a class="btn btn-success" href={{ system_url }}/update>Update</a>
                    <a class="btn btn-warning" href={{ system_url }}/edit>Edit</a>
                </th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
           <a class="btn btn-primary" href="/env-settings/add">Add</a>
        </div>
      </div>
    </div>
  </div>
  

</div>

  
{% endblock %}