{% extends "public/templates/public_template.html" %}
{% from 'public/_macros.html' import render_dir_tree %}

{% block title %}CCS - Config Control System{% endblock %}
{% block head %}

{% endblock head %}
{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
        <h1>Config Control System</h1>
  </div>
  </div>
</div>


{% endblock %}

{% block script %}

{% endblock %}

