{% extends "public/templates/public_template.html" %}
 
{% block title %}About{% endblock %}
 


{% block main %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <ul>{
          {% for k,v in val.items() recursive %}
            {% if v is string %}
              <ul>"{{ k }}"": 
                {% if k != "passwd" %}
                 "{{ v }}",</ul>
                {% else %}
                "****",</ul> 
                {% endif %}
            {% elif v is mapping %}
                <ul>"{{ k }}": { {{ loop(v.items()) }} },</ul>
            {% elif v is sequence %}
              <ul>"{{ k }}": [<ul>
              {% for n in v %}
                "{{ n }}",
              {% endfor %}]</ul></ul>
            {% else %}
            <ul>"{{ k }}": {{ v }},</ul>
            {% endif %}
          {% endfor %}
              }<ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}