{% extends "public/templates/public_template.html" %}

{% block title %}Upload{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Upload an file</h1>
      <hr>

      <form action="#" method="POST" enctype="multipart/form-data">
        {{ tree.name }}
        <ul>
        {%- for item in tree.children recursive %}
            <li><a href={{ item.name }}>{{ item.name }}</a>
            {%- if item.children -%}
                {%- for i in item.children recursive %}
                  <ul><a href={{ i["name"] }} > {{ i["name"] }} </a> </ul>
                {%- endfor %}
            {%- endif %}</li>
        {%- endfor %}
        </ul>

        <div class="form-group">
          
          <label>Select dir</label>
          <select  multiple class="form-control" name="path" id="path">
          {% for item in dirs %}
          <option>{{ item }}</option>
          {% endfor %}
          </select>


          <label>Select file</label>
          <div class="custom-file">
            <input type="file" class="form-control-file" name="file" id="file" oninput="filesize(this);">
            
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>

  function filesize(elem){
    document.cookie = `filesize=${elem.files[0].size}`
  }

</script>
{% endblock %}